<p><h1>Frequently Asked Questions</h1></p>

<div>
  <% @QA.each do |question| %>
    <h3><%= question[0] %></h3>
    <% question[1].each do |answer| %>
      <h4><%= answer %></h4>
      <br>
    <% end %>
  <% end %>
</div>
