<h1>Frequently Asked Questions</h1>

<div>
  <% @QA.each do |question| %>
    <h3><%= question[0] %></h3>
    <% question[1].each do |answer| %>
      <p><%= answer %></p>
      
    <% end %>
  <% end %>
</div>
