<% if notice %>
  <div class="alert alert-success text-center" role="alert">
    <p style = "color: green" id="notice"><%= notice %></p>
  </div>
<%end%>

<div class = "col-md-12">
  <h1>Edit Project</h1><br>
</div>

<%=  render partial: '/shared/errors', locals: {feature: @project} %>
<%= render 'form' %>
